{% extends 'base.html' %}
{% load static %}
{% block title_block %}Home{% endblock %}
{% block body_block %}

<div class="container">
  <div id="draft" class="row">
    <!-- heroes draft image and input for team radiant -->
    <div id="radiantDraft" class="col-xs-12 col-md-6">
      <p>Tim Radiant</p><i class="bi bi-slash-circle-fill"></i>
    {% for i in '12345'|make_list %}
        <img class="zoomDraft" id="radiantHero{{i}}" src="{% static 'images/empty.png' %}"
         alt="empty" width="19%">
        <input type="hidden" id="inputRadiant{{i}}" name="draftInput{{i}}">
      {% endfor %}
    </div>
    <!-- heroes draft image and input for team dire -->
    <div id="direDraft" class="col-xs-12 col-md-6">
      <p>Tim Dire</p>
      {% for i in '12345'|make_list %}
        <img class="zoomDraft" id="direHero{{i}}" src="{% static 'images/empty.png' %}"
         alt="empty" width="19%">
        <input type="hidden" id="inputDire{{i}}" name="draftInput{{i}}">
      {% endfor %}
    </div>
  </div>
  <!-- recommendation heroes and match prediction button -->
  <div id="draftButton" class="row">
    <div class="col-xs-12 col-md-12">
      <button type="button" class="btn btn-primary" onclick="setRadiantToPick();">Pilih Radiant</button>
      <input type="submit" name="recSubmit" value="Tampilkan Rekomendasi" class="btn btn-success"/>
      <a class="btn btn-warning" href="{% url 'index' %}">Clear</a>
      <input type="submit" name="predSubmit" value="Prediksi Kemenangan" class="btn btn-danger"/>
      <button type="button" class="btn btn-primary" onclick="setDireToPick();">Pilih Dire</button>
    </div>
  </div>
  <div class="row">
    <!-- list of heroes recommendation -->
    <div id="heroesRecommendation" class="col-xs-12 col-md-10">
      <p>Daftar Hero Rekomendasi</p>
      {% if recommendHeroes %}
        {% for hero in recommendHeroes %}
          <img class="zoom" src="../static/images/{{name}}.png" alt="{{name}}"
           width="10%" onclick="pickHero(this);">
        {% endfor %}
      {% endif %}
    </div>
    <!-- display match prediction result -->
    <div id="predicteResult" class="col-xs-12 col-md-2">
      <p>Persentase Menang</p>
      <h1>-</h1>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div id="heroesAll" class="row">
    <div class="col-xs-12 col-md-12">
      <p>Daftar Hero Tersedia</p>
      <!-- display all heroes list available to pick using  foe loop -->
      {% for name in heroes_name %}
        <img class="zoom" src="../static/images/{{name}}.png" alt="{{name}}"
        width="5%" onclick="pickHero(this);" id="listHero{{name}}">
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
